{% extends "base.html" %}
{% block title %}
<title>task</title>
<meta name="description" content="タスク">
<script type="text/javascript" src="../static/js/DaySet.js" defer></script>
{% endblock %}
{% block body %}
<div id="task_graph">
  <div id="task_graph_1">20</div>
  <div id="task_graph_2">20</div>
  <div id="task_graph_3">20</div>
  <div id="task_graph_4">20</div>
  <div id="task_graph_5">20</div>
  <div id="task_graph_6">20</div>
  <div id="task_graph_7">20</div>
</div>
<br><br>
<div id="cont_wrapper">
  <div id="task_index">
    <div>Id</div>
    <div>Name</div>
    <div>Tag</div>
    <div>Deadline</div>
    <div>Time required</div>
  </div>
  <div id="add_task">
    <form id="add_task_form" action="/task" method=post>
      <button type="submit">add</button>
      <input type="text" name="Name" required>
      <input type="text" name="Tag" required>
      <input type="datetime-local" name="Deadline" id="date"required>
      <label><input type="number" id="form_time" name="time" placeholder="60" required>minutes</label>
    </form>
  </div>
  <div id="task_group">
    {% for i in index  %}
    <div class="tasks">
      <div class="tasks_id">{{ i+1 }}</div>
      <div>{{ task_names[i]}}</div>
      <div>{{ tags[i] }}</div>
      <div>{{ deadline_days[i][:10] }} {{ deadline_times[i][-5:] }}</div>
      <div class="min"><div>{{ time[i] }}</div><div class="min_tex">minutes</div></div>
    </div>
    {% endfor %}

  </div>
</div>
<script>
  window.onload = function () {
    date = new Date()
    date.setDate(date.getDate() + 1);
    var y = date.getFullYear();
    var m = ('00' + (date.getMonth()+1)).slice(-2);
    var d = ('00' + date.getDate()).slice(-2);
    document.getElementById("date").value = (y + '-' + m + '-' + d+'T00:00');
  }
</script>
{% endblock %}